@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --orange-clair: #FFBF78;
    --jaune-pastel: #FFEEA9;
    --jaune-pale: #FEFFD2;
    --blanc-pur: #FFFFFF;
    --orange-vif: #FF7D29;
    --orange-peche: #FF914D ;
    --black: #333;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 90%;
}

body {
    background-color: var(--jaune-pale);
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--orange-clair);
    height: 15vh;
}

header nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

header nav ul {
    display: flex;
    gap: 100px;
}

nav ul li {
    font-size: 20px;
    font-weight: 800;

}

nav ul li a {
    text-decoration: none;
    color: var(--orange-vif);
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.home_section01 .div_title {
    text-align: center;
    margin-top: 100px;
}

.home_section01 .div_title h1 {
    color: var(--orange-vif);
    font-family: Inter;
    font-size: 40px;
    font-weight: 800;

}

.div_recherche_input {
    width: 60%;
    display: flex;
    justify-content: center;
    gap: 10%;
    margin: 50px auto;
}

.div_recherche_input input,
.div_recherche_input select {
    padding: 10px 30px;
    background-color: var(--orange-clair);
    border: none;
    border-radius: 15px;
}

.div_recherche_input input {
    padding: 10px 15%;
}

.difficulty-options {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.difficulty-options label {
    color:var(--orange-vif);
    font-size: 16px;
    font-weight: 800;

}

.quiz-list {
    width: 80%;
    margin:50px auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.quiz-list .quiz-card {
    padding: 10px;
    background-color: var(--jaune-pastel);
    line-height: 3;
    text-align: center;
    border-radius: 20px;
    min-width: 20%;
    box-shadow: 10px 10px var(--orange-clair);
    transition: all 0.5s ease;
}

.quiz-list .quiz-card:hover{
    transform: scale(1.05);
    
}

.quiz-card h2 {
    font-size: 1.5em;
    color:var(--black); /* Utilisation de votre couleur de navigation */
    font-weight: 700;
}

.quiz-card p {
    font-size: 1.1em;
    color:var(--orange-vif);
    font-weight: 800;
}

.quiz-card button {
    padding: 8px 12%;
    background-color: var(--orange-vif);
    font-size: 1.2em;
    font-weight: 900;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.quiz-card button:hover{
    background-color: green;
}

.quiz-info-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:var(--orange-peche);
    color: var(--black);
    padding: 10px 20px;
    font-weight: 700;
    margin-bottom: 20px;
    height: 10vh;
    
}

.quiz-info-bar div {
    font-size: 1.2em;
}

.progress-container {
    width: 90%;
    height: 30px;
    background-color:var(--jaune-pastel);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px auto;
}

.progress-bar {
    height: 100%;
    width: 0;
    background-color: var(--orange-peche);
    transition: width 0.5s ease; 
}


.question_area {
    margin: 10vh auto;
    max-width: 600px;
    padding: 20px;
    background-color: var(--jaune-pastel);
    text-align: center;
    border-radius: 30px;
}

.question_area h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    color:var(--black);
}

.options button {
    background-color:var(--orange-clair);
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px;
    width: 100%;
    margin: 5px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.options button:hover {
    background-color:var(--orange-vif);
}

.answer-input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    margin: 10px 0;
    border: 2px solid var(--orange-clair);
    border-radius: 14px;
}

.submit-answer {
    background-color: var(--orange-clair);
    color: var(--black);
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.submit-answer:hover {
    background-color: var(--orange-vif);
}


.zoneVisible{
    display: block;
}

.question_area{
    display: none;
}


@media screen and (max-width:776px) {
    header {
        height: 30vh;
    }

    header nav {
        flex-direction: column;
        gap: 10px;
    }
}